{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_item_object.name }}</h1>
                <p> <a href="{% url 'todo_list_update' todo_item_object.id %}">Edit</a></p>
                <p> <a href="{% url 'todo_list_delete' todo_item_object.id %}">Delete</a></p>
                <p> <a href="{% url 'todo_item_create' %}">Create a new Item</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for items in todo_item_object.items.all %}
                            <tr>
                                <td> <a href="{% url 'edit_item' items.id %}">{{ items.task }}</td>
                                <td> {{items.due_date }} </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
